/*==================
Custom properties
===================*/

:root{
    --fs-large: 2.5em;
    --fs-medium: 2em;
    --fs-small: 1.5em;
}


/*==================
General properties
===================*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    line-height: 1.6;
    min-height: 100%;
    width: 100%;
}

/*==================
Landing page container
===================*/

.container{
    background: url("Assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/*==================
Header
===================*/

header{
    padding-top: 15vh;
}

.header-text{
    color: white;
    font-size: var(--fs-large);
}

/*==================
Countdown
===================*/

.countdown-section{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    width: min(1000px, 90vw);
    padding-top:  5vh;
}

.countdown-section h2{
    color: white;
    font-size: var(--fs-medium);
    font-weight: lighter;
}

/*==================
Date
===================*/

.date-section{
    position: relative;
    text-align: left;
    padding-top: 3vh;
}

.date-text{
    color: white;
    font-size: var(--fs-small);
    font-weight: 500;
    letter-spacing: 0.05em;
}

/*==================
Eclipse Type
===================*/

.eclipse-type-section{
    position: relative;
    display: flex;
    width: min(1000px, 90vw);
    justify-content: space-evenly;
    text-align: center;
    padding-top: 15vh;
}

.type-text{
    color: white;
    font-size: var(--fs-small);
}

.icon-img{
    position: relative;
    width: min(100px, 20vw)
}


/*==================
Responsive Properties
===================*/

@media (max-width: 400px){
    :root{
        --fs-large: 2em;
        --fs-medium: 1.5em;
        --fs-small: 1em;
    }
}

@media (min-width: 700px){
    :root{
        --fs-large: 3em;
        --fs-medium: 2.5em;
        --fs-small: 2em;
    }
}

@media (max-height: 650px){
    :root{
        --fs-large: 2em;
        --fs-medium: 1.5em;
        --fs-small: 1em;
    }
}