/*==================
General properties
===================*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background: url("Assets/background.jpg");
    background-position-x: 60%;
    background-position-y: 70%;
    justify-content: center;
}

/*==================
Header Text
===================*/

h1{
    position: absolute;
    left: 1em;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: white;
}

/*==================
Countdown
===================*/

.countdown-section{
    position: absolute;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 9;
    width:  50vw;  
    height: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.countdown-section h2{
    padding-left: 1.5em;
}

/*==================
Date
===================*/

.date-section{
    padding-top: 1em;
    position: absolute;
    width: 50vw;
    height: 20vh;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 9;
    text-align: center;
}


